<header class="header">
  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo Santé publique France">
  </div>
  <nav class="navigation">
    <div class="nav-item">
      <a routerLink="/accueil">
        <img src="./assets/home.png" alt="Home" class="home-icon">
      </a>
      <div class="nav-link-container">
        <div class="nav-link">Mon espace <span class="arrow-down">▼</span></div>
        <div class="dropdown-menu">
          <a (click)="setRole('infirmiere')" routerLink="/connexion-infirmiere" class="dropdown-item">Espace infirmière</a>
          <a (click)="setRole('secretaire')" routerLink="/connexion-secretaire" class="dropdown-item">Espace secrétaire</a>
          <a (click)="setRole('patient')" routerLink="/connexion-patient" class="dropdown-item">Espace client</a>

        </div>
        <div *ngIf="authService.isAuthenticated()" class="nav-item logout-button">
          <button (click)="logout()">Déconnexion</button>
        </div>
      </div>
    </div>
  </nav>
</header>
