<app-welcome-section></app-welcome-section>
<div class="info-section">
<h2>En savoir plus</h2>
  <div class="card-section">
    <app-info-card
      iconSrc="./assets/globe.png"
      title="Des services en ligne accessibles à tous nos usagers."
      description="Découvrez une offre de services en ligne pour faciliter vos démarches et gagner du temps (prenez rendez-vous, préparez vos démarches administratives, etc.).">
    </app-info-card>
    <app-info-card
      iconSrc="./assets/cloud-lock.png"
      title="Des fonctionnalités avancées pour  les patients."
      description="En tant que patient majeur de l'AP-HP, créez-vous un compte pour accéder à des services améliorés et davantage de services.">
    </app-info-card>
    <app-info-card
      iconSrc="./assets/france-connect.png"
      title="Un accès simple et sécurisé par l'utilisation de FranceConnect."
      description="En tant que patient majeur, utilisez FranceConnect pour vous créer un compte. Ce service de l'état vous permet de vous connecter en utilisant un compte déjà créé auprès d'un autre organisme.">
    </app-info-card>
  </div>
</div>
<app-support-section></app-support-section>
<app-service-section></app-service-section>
