<div class="welcome-section">
  <div class="text-content">
    <h1>Bienvenue le site de l'hôpital de Lens</h1>
    <p>Effectuez vos démarches en ligne, simplement.</p>
    <p>Vous êtes déjà patient de l'AP-HP et vous êtes majeur : créez-vous un compte pour accéder à des formulaires préremplis, vos questionnaires médicaux, vos documents de soins et vos factures.</p>
    <button class="btn-primary">Prendre rendez-vous</button>
  </div>
  <div class="image-content">
    <img ngSrc="../../../assets/hospital-staff.png" alt="Personnel de l'hôpital" height="1029" width="928" priority="1">
  </div>
</div>
