<footer class="footer">
  <div class="footer-sections">
    <div class="footer-section">
      <h4>Services</h4>
      <ul>
        <li><a href="#">Site de l'hôpital</a></li>
        <li><a href="#">Aide administrative</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Partenaires</h4>
      <ul>
        <li><a href="#">France connect</a></li>
        <li><a href="#">Assurance maladie</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Contacts</h4>
      <ul>
        <li><a href="#">Support informatique</a></li>
        <li><a href="#">Aide administrative</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Rejoignez-nous</h4>
      <div class="social-icons">
        <a href="#"><img ngSrc="../../../assets/social-media/instagram.png" alt="Instagram" height="512" width="512"></a>
        <a href="#"><img ngSrc="../../../assets/social-media/linkedin.png" alt="LinkedIn" height="512" width="512"></a>
        <a href="#"><img ngSrc="../../../assets/social-media/twitter.png" alt="twitter" height="512" width="512"></a>
        <a href="#"><img ngSrc="../../../assets/social-media/youtube.png" alt="youtube" height="512" width="512"></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
  </div>
  <div class="footer-links">
    <a href="#">Mention légales</a>
    <span>|</span>
    <a href="#">FAQ</a>
    <span>|</span>
    <a href="#">Plan du site</a>
  </div>
</footer>
